.profile {
  display: grid;
  grid-template-areas:
  "cover cover"
  "info feed";
  grid-template-rows: 300px 2fr;
  grid-template-columns: 2fr 3fr;
  width: 75%;
  font-size: 0.85rem;
  background: #ffffff;
  box-shadow: 0 0 5px #d3d3d3;
}