.profile {
  display: grid;
  grid-template-areas:
  "cover cover"
  "info info"
  "details feed"
  "mates feed";
  grid-template-rows: 180px 120px min-content;
  grid-template-columns: 4fr 11fr;
  column-gap: 60px;
  width: 100%;
  font-size: 0.85rem;
}