.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  height: 100%;
  padding: 10px;
}

.input {
  position: relative;
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 10px;
}

.content {
  position: relative;
  width: 100%;
  padding: 15px 10px 15px 15px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.content:before, .content:after {
	content: "";
  z-index: -1;
  position: absolute;
  top: 20px;
  margin-top:-5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-width: 0 0 1px 1px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  transform: rotate(45deg);
}

.content:after {
  z-index: 1;
  box-shadow: none;
}

.form {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.textarea {
  position: relative;
  width: 100%;
  height: 100%;
  font: 0.875rem Commissioner;
  border: none;
  outline: none;
  resize: none;
}

.button {
  width: 40px;
  height: 40px;
  color: #66CC66;
  font-family: 'icon' !important;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  background: none;
  cursor: pointer;
}

.button:before {
  content: "\e9b5";
}