@font-face {
  font-family: 'icon';
  src:  url('./assets/fonts/icon.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'social-icons';
  src:  url('./assets/fonts/social-icons.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Commissioner';
  src:  url('./assets/fonts/Commissioner.ttf');
}

@font-face {
  font-family: 'Dongle';
  src:  url('./assets/fonts/Dongle-Regular.ttf');
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F6F6F6;
  font-family: Commissioner;
}

#root {
  height: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

.button:hover {
  color: #ffffff;
  background: #66cc66;
}

.button:hover:before {
  color: #ffffff;
}