@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icomoon.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GolosText';
  src:  url('./assets/fonts/GolosText.ttf');
  font-weight: 400 700 900;
}

@font-face {
  font-family: 'Manrope';
  src:  url('./assets/fonts/Manrope.ttf');
  font-weight: 400 500 700 900;
}

@font-face {
  font-family: 'Commissioner';
  src:  url('./assets/fonts/Commissioner.ttf');
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F6F6F6;
  font-family: Commissioner;
}

#root {
  height: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}